#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 0px
}
.box {
    flex:auto;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    opacity: var(--grid_opacity, 0);
}
button {
    font-size: 18px;
    padding: 16px;
    margin: 16px;
}